###########################################################################################
#
# GitLab version    : 5.x - 6.x
# Contributors      : davispuh, mtorromeo, axilleas, boeserwolf91
# Downloaded from   : https://gitlab.com/gitlab-org/gitlab-recipes/tree/master/init/systemd
#
###########################################################################################

[Unit]
Description=GitLab - Self Hosted Git Management
Requires=redis.service postgresql.service
After=redis.service postgresql.service syslog.target network.target

[Install]
WantedBy=multi-user.target
